<div class="container-fluid">
  <div class="row">
    <div class="col" *ngFor="let item of news; let i = index">
      <ng-container class="news-items-container">
        <h3>
          {{item?.HEADLINE}}
        </h3>
        <div>
          <picture>
            <a title="{{item.HEADLINE}}" href="{{item.news_link}}">
              <img src="{{item?.related_image_big}}" width="400" alt="{{item.HEADLINE}}" />
            </a>
          </picture>
        </div>
      </ng-container>
    </div>
  </div>
</div>