<div class="container-fluid">
  <div class="row">
    <div class="col" *ngFor="let item of news; let i = index">
      <ng-container class="news-items-container">
        <h3>
          {{item?.headline}}
        </h3>
        <a title="{{item.headline}}" href="{{item.news_link}}">
          <div>
            <picture>
              <img src="{{item?.related_image_big}}" width="400" alt="{{item.headline}}" />
            </picture>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</div>