header {
  .p-input-icon-left {
    display: block;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem; //up and down, left/right from sided
    height: 5rem;
    background-color: #161616;
    margin: 0px;
    border-bottom: 1px solid (255, 255, 255, 0.1);

    &-logo {
      //still inside nav bar, put logo properties and links
      display: block;
      img {
        width: 3.5rem;
      }
    }

    &-links {
      //parent is navbar-links

      display: block;
      margin: 0;
      list-style: none; //romoves bullet point from list
      li {
        //li element
        font-size: 17px;
        text-align: center;
        float: none;
        display: inline; //next to eachother
        margin-right: 15px; //push eachother apart
      }
    }

    @media only screen and (max-width: 991px){
      li{
        display: none;
        }
        .p-input-icon-left {
          height: auto;
          width: auto;
          margin-left: 0;
        }
        input{
          width: 50%;
          display: none;
        }
        button{
          display: none;
        }
        .title{
          font-size: 1.3rem;
        }
        #main-nav{
          padding: 0px 0px 0px 0px !important;
        }
        .icon{
          align-self: left;
        }

    }
  }
}
