<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" id="main-nav" role="navigation">
      <a href="#" class="navbar-logo navbar-brand">
        <img class="icon" src="assets/icon.jpg" alt="" />
        <span class="title">Crypto Watcher</span>
      </a>
      
      <ul class="navbar-links">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="handleClick()" class="btn btn-success" type="button">Login</button>
        <button (click)="handleClick()" class="btn btn-primary" type="button">Sign up</button>
      </div>

      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="Search"
          (change)="searchChanged()"
        />
      </span>
    </nav>
  </header>
