<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" id="main-nav" role="navigation">
      <a href="#" class="navbar-logo navbar-brand">
        <img src="assets/icon.jpg" alt="" />
        Crypto Watcher
      </a>
      
      <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/genres">&&&</a></li>
      </ul>

      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success" type="button">Login</button>
        <button class="btn btn-primary" type="button">Sign up</button>
      </div> -->

      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="Search"
          
          (change)="searchChanged()"
        />
      </span>
    </nav>
  </header>
