//@import '../styles/colors';

footer{
display:flex;
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   background:rgb(0, 7, 10);
   justify-content: center;
   justify-content:center;
   align-items:center;
}
span {
    
    color: white;
  }
