<div class="ticker-wrap">
    <div class="ticker">
        <div class="ticker__item" style="color:rgb(255, 20, 20);">
            Dow Jones Futures -2.80%</div>
        <div class="ticker__item" style="color:rgb(0, 198, 0);">
            NIKKEI 225 26847.90 +1.75%</div>
        <div class="ticker__item" style="color:rgb(255, 20, 20);">
            S&P 500 Futures 4127.50 -3.64%</div>
        <div class="ticker__item" style="color:rgb(0, 198, 0);">
            EUR-USD 1.05 +0.44%</div>
    </div>
</div>